{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <head>
        <title>Post Product</title>
    </head>
    {% if messages %}
    {% for message in messages %}
    <h3 class="{{message.tags}}">{{ message }}</h3>
    {% endfor %}
    {% endif %}

    <form method="post" class="form-control bg-secondary " enctype="multipart/form-data">{% csrf_token %}
        {{ form | crispy }}
        <button class="btn btn-primary w-25" type="submit">Post</button>
    </form>


    <!-- <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ product_form.as_p }}
        <div id="image-form">
            {{ image_form.as_p }}
        </div>
        <input type="button" value="Add more images" onclick="addMoreInput()">
        <input type="submit" value="Submit">
    </form>
    <script>
        function addMoreInput() {
            var imagesDiv = document.getElementById('image-form');
            var newInput = document.createElement('input');
            newInput.type = 'file';
            newInput.name = 'images';
            newInput.multiple = true;
            imagesDiv.appendChild(newInput);
        }
    </script> -->
    
{% endblock content %}