{% extends 'base/base.html' %}
{% block content %}
    <head>
        <title>Your products</title>
    </head>
    <div>
        {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% if products %}
        <div class="row">
        {% for product in products %}
        <div class="col-3 mt-3">
            <div class="card border border-info" style="width: 15.2rem;">
                <img src="{{ product.image.url }}" style="width:15rem;height:15rem; " class="card-img-top" alt="There's a image">
                <div class="card-body bg-dark">
                    <h5 class="card-title text-info">{{ product.name }}</h5>
                    <p class="card-text text-info">{{ product.description | truncatewords:15 }}</p>
                    <span><p class="card-text text-info disabled">Price: {{ product.price }}</p></span>
                    <span><button class="btn btn-info"><a class="text-decoration-none text-light" href="{% url 'products:product_detail' product.pk %}">Detail</a></button></span>
                </div>
            </div>    
        </div>                
        {% endfor %}
        </div>
        {% else %}
        You have no posted products
        {% endif %}
{% endblock content %}